body{
  background-color: darkgrey;
  font-family: 'Oswald', sans-serif;
}

#content{
    width: 210px;
    height: 65px;
    background-color: aquamarine;
    border-radius: 10px;
    margin: auto;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}